<div class="cardContainer">
    <pokemon-card *ngFor="let item of pokemonArr" [myPokemon]="item"
        (selectedEmitter)="selected($event)"
        ></pokemon-card>
</div>

<ng-container *ngIf="userSelected">
    <div class="singleCardContainer">
    <div class="card">
        <img [src]="selectedPokemon.sprites.front_default" class="card_image">
        <div class="container">
          <p class="card_name"><b>{{selectedPokemon.species?.name}}</b></p> 
          <ul class="card_list-nodot">
            <li>#:{{selectedPokemon?.id}}</li>
            <li>Weight:{{selectedPokemon?.weight}}</li>
            <li>Height:{{selectedPokemon?.height}}</li>
          </ul> 
          <ul>
            <li *ngFor="let item of selectedPokemon.types;">{{item.type.name}}</li>
          </ul>
        </div>
      </div>
    </div>
</ng-container>