<div class="card" (click)="select()">
    <img [src]="myPokemon.frontimg" class="card_image">
    <div class="container">
      <p class="card_name"><b>{{myPokemon.species.name}}</b></p> 
      <ul class="card_list-nodot">
        <li>#:{{myPokemon?.id}}</li>
        <li>Weight:{{myPokemon?.weight}}</li>
        <li>Height:{{myPokemon?.height}}</li>
      </ul> 
      <ul>
        <li *ngFor="let item of myPokemon.typeArr;">{{item.type.name}}</li>
      </ul>
    </div>
  </div>

  <nz-modal nzCentered nzWidth="250px" [(nzVisible)]="isVisible" nzTitle="Do you want to select + {{myPokemon.species.name}}" (nzOnCancel)="handleCancel()">
    <div *nzModalContent class="card_modal-image">
      <img [src]="myPokemon.frontimg" class="card_image">
    </div>
    <div *nzModalFooter class="card_footer">
      <button nz-button nzType="text" (click)="handleCancel()">No Thanks</button>
      <button nz-button nzType="primary" nzSize="large" (click)="handleOk()" class="card_footer-okbtn"> OK </button>
    </div>
  </nz-modal>