*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 250px;
    max-width: 400px;
    min-height: 400px;
    max-height: 640px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5px;
  }

  .card_name{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 23px;
  }

  .card_list-nodot{
    list-style: none;
  }

  .card_modal-image{
    width: 200px;
    height: 200px;
  }

  .card_footer{
      display: flex;
      justify-content: space-around;
  }

  .card_footer-okbtn{
          width: 30%;
  }

  .card_modal{
      width: 300px !important;
  }

  .card_image{
    width:100%;
  }